@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato');
/*
font-family: 'Fredoka One', cursive;
font-family: 'Lato', sans-serif;
*/

h1,h2,h3,h4 { font-family: 'Fredoka One', cursive }
body, input, p, a { font-family: 'Lato', sans-serif }

body {
	background-color: #ededeb;
}

.container, .answers {
	max-width: 600px;
	width: calc(100vw - 60px);
	margin: 30px auto;
	padding: 30px;
	background-color: white;

}

.header {
	padding-bottom: 30px;
	text-align: center;
}

.header h1 {
	color: #ffbe61;
	font-size: 3rem;
}

label {
	display: inline-block;
	font-weight: 600;
	color: #ffbe61;
}

label:first-child {
	margin-left: 10px;
	width: calc(50% - 10px);
}

form .inputs {
	width: 100%;
	display: flex;
}

input {
	padding: 15px;
	border: none;
	margin: 10px;
	background-color: #ededeb;
	text-align: center;
}

input:focus {
	outline: none;
}

input[type="text"] {
	letter-spacing: 3;
	width: 50%;
}

input[type="number"] {
	width: 30%;
}

input[type="submit"] {
	width: 20%;	
}

.answers ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

.answers ul li {
	margin: 2px;
	padding: 10px;
	background-color: rgba(0,0,0,0.04);
	text-align: center;
	font-size: 2rem;
	font-family: 'Fredoka One', cursive

}